{% extends 'catalog/base.html' %}
{% block content %}
<form class="row justify-content-left" method="post">
    <div class="col-md-6">
        <div class="card rounded-3 shadow-sm">
            <div class="card-header">
                <h4 class="card-title">
                    Восстановление пароля
                </h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="email" name="email" class="form-control" id="email" placeholder="Ваша почта" required>
            </div>
            <button type="submit" class="btn btn-success">Восстановить пароль</button>
        </div>
    </div>
</form>
{% endblock %}>