{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Категории товаров</h4>
            </div>
            <div class="card-body">
                <ul>
                    {% for object in objects %}
                    <li>
                        {{ object.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}