{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<div class="col-md-4 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Создать продукт</a>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4 text-center">
        <div class="card rounded-3 shadow-sm mb-2" style="min-height: 400px">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object.name }}</h4>
            </div>
            <div>
                <img src="{% add_path object.image %}" class="img-fluid" style="width: auto; max-height: 300px"
                     alt="Изображения нет">
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.price }}$</h2>
                <p>
                    {{ object.description | slice:100 }}
                </p>
                {% if object in product_versions %}
                <p>
                    {% get_value product_versions object %}
                </p>
                {% endif %}
                <button type="button" class="w-100 btn btn-lg btn-success">Купить</button>
            </div>
            <div class="card-footer">
                {% if perms.catalog.set_published or user == object.user %}
                <a type="button" href="{% url 'catalog:edit' object.pk %}" class="btn btn-warning">Редактировать</a>
                {% endif %}
                {% if user == object.user %}
                <a type="button" href="{% url 'catalog:delete' object.pk %}" class="btn btn-danger">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
